* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background: white;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

h1 {
    color: pink;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}

p {
    text-align: center;
}

.card {
    float: left;
    background-color: black;
    color: white;
    margin: 20px 10px;
    width: calc(100% / 3 - 20px);
}

.card .avatar {
    float: left;
    width: 100px;
}

.card .contents {
    padding: 10px;
    margin-left: 95px;
}

.contents > a {
    text-decoration: none;
    color: aqua;
}