/*Resect*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Intestazione pagina*/

header{
    text-align: center;
    color: palevioletred;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Corpo*/

.container{
    font-family: Arial, Helvetica, sans-serif;
}

.description{
    text-align: center;
    margin: 40px 120px;
}

a{
    text-decoration: none;
}

/*Etichette*/

.worker{
    width: 305px;
    height: 80px;
    margin: calc(100%/6 - 160px);
    background-color: rgb(20, 19, 19);
    box-shadow: 10px 10px 5px #dedede;
    color: white;
    float: left;
}

/*Contenuto etichette*/

img{
    width: 80px;
    height: 80px;
    float: left;
}

p strong{
    font-style: bold;
}

.profile{
    float: left;
    padding: 15px 10px 0;
}

a{
    color: aquamarine;
}